<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quizzes!</h1>
    <p>En esta página porás crear tus propios quizzes.</p>
    <nav>
      <a href="/quizzes">Quizzes</a>
      <a href="/credits">Créditos</a>
    </nav>
  </body>
</html>
