<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<section>
    <div>
        <%- body %>
    </div>
</section>
<nav>
    <a href="/">Home</a>
    <a href="/quizzes">Quizzes</a>
    <a href="/credits">Créditos</a>
</nav>
</body>
</html>