<!DOCTYPE html>
<html>
<head>
    <title>Lista de Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Lista de Quizzes:</h1>
<p>aqui se supone que van los quizzes</p>
<nav>
    <a href="/">Home</a>
    <a href="/credits">Créditos</a>
</nav>
</body>
</html>